In [4]:
##### 자료형 : 데이터의 형태 ,
##             숫자 : 0,1,2,3,    0.1, 0.2, 0.3
##                    정수            실수
###   연산자 : 데이터를 다루기 위한 기호
### 숫자형태인 데이터를 다루기 위한 연산자
# 숫자 : 1,2,3,10.3
## 이숭무, abcd, 1,23 : 자연어 : 리터널
print( 3 + 5)
print( 5 - 3)
print( 5 * 4)
print( 5 / 4)
print( 10 % 3) # 나머지 연산
print( 10 // 3) # 몫
print( 10 ** 2) # 제곱승

8
2
20
1.25
1
3
100

In [11]:
### 값을 담는 문자 : 변수 : 
### 리터널을 변수에 담아서 사용하는 것이 좋다.
a = 10
print(a)
a = 5 
print(a)
bbb = 56
print(bbb)
print(5 + 56)
print(a  + bbb)

# 숫자에서 다루는 연산자 : +, - ,/ , *, % , // , ** 
# 변수를 타입을 정하지 않는다.
a = 10
print(a)
a = '이숭무'
print(a)

10
5
56
61
61
10
이숭무

In [20]:
#### 숫자 : 3, '3'
#### 문자열: 'a', "a"
#### 변수 : a
a = 'a'
print(3 + 3) ## 덧셈 연산자
##print('3' + 3)
print( '3' + '3' ) ### 연결연산자
print('#' * 30)
print("Hello World")
print('Python is fun')
print('Life is too short, You need python')
print("Life is too short, You need python")
str1 = '''Life is too short, 
You need python'''
print(str1)
print('''Life is too short, 
You need python''')
str1 = """Life is too short, 
You need python"""
print(str1)
### 문자열을 나타내는 방법 : '',"",'''''',""""""
print("Life's too short, You need python")
print('Life is too short, "You need python"')
print('Life\'s too short, "You need python"')

print("akl\"ADf\"Da'dasf\"ADSF'SDAf\"")

6
33
##############################
Hello World
Python is fun
Life is too short, You need python
Life is too short, You need python
Life is too short,
You need python
Life is too short,
You need python
Life is too short,
You need python
Life's too short, You need python
Life is too short, "You need python"
Life's too short, "You need python"
akl"ADf"Da'dasf"ADSF'SDAf"

In [2]:
print('''Life is too short, 
You need python''')

print('Life is too short,\n You need python')

Life is too short,
You need python
Life is too short,
 You need python

In [4]:
print( "Python" + " is fun!")
head = "Python"
tail = " is fun!"
print(head + tail)

Python is fun!
Python is fun!

In [7]:
print(head * 3)
print('head' * 3) ## 반복 연산자.

Python is fun!
Python is fun!
PythonPythonPython
headheadhead

In [9]:
print("=================================================")
print("My Program")
print("=" * 50)

=================================================
My Program
==================================================

In [3]:
#### +, * 
a ='Life is too short, You need Python'
### 0123456789012345678901234567890123    : index
###           1         2         3
## -4                         87654321 
##  3
print(len(a))
print(a[19]) # indexing
print(a[28])
print(a[0]+a[1]+a[2]+a[3])
print(a[33])
print(a[-1])
print(a[-34])
print(a[0])
print(a[-0])
print(a[-5])

34
Y
P
Life
n
n
L
L
L
y

In [5]:
print(a[0]+a[1]+a[2]+a[3])
# slicing
print(a)      # 0 <= a < 4
print(a[0:4]) # 0부터 4가 되기전까지 print(a[0:3])가 이닌 print(a[0:0+4])
print(a[5:5+4])  # 5 <= a < 9
print(a[0:3])
# short
bb = 12
print(a[ 12 : 12 + bb ])
##### http://www.naver.com/search

Life
Life is too short, You need Python
Life
is t
Lif
short, You n

In [17]:
a ='Life is too short, You need Python'
print(a[0]+a[1]+a[2]+a[3]) # indexing
#### slicing
print(a[5 : 10 ])
print(a[5 : 5 + 5 ])
print(a)
print(a[0:4])
print(a[:4])
print(a[-5:34])
print(a[0])
print(a[-0])
print(a[-5:])

print(a[:]) #### 처음부터 끝까지
print(a[0:34])

Life
is to
is to
Life is too short, You need Python
Life
Life
ython
L
L
ython
Life is too short, You need Python
Life is too short, You need Python

In [26]:
a = "20010331Rainy"
print(a[:8])
print(a[8:])
print(a[4:4+4])

a = 'pithon'
print(a)
# a[1] = 'y'; 문자열 데이터는 indexing 을 이용해서 문자를 변경할 수 없다.
a = 'python'
print(a)
print(a[0]+'y'+a[2:])


print(a[:8]) ; print(a[8:]) ; print(a[4:4+4])
print(a[4])
#### +,  * , indexing, slicing, # 문자열 처리 방법
### 계좌번호 , 예금주, 금액
###  1111,이숭무,100
# 이숭무님의 계좌번호는 1111이고 잔액은 100입니다.

20010331
Rainy
0331
pithon
python
python
python

on
o

In [30]:
# 문자열 포매팅
account = '1111'
name = '이숭무'
money = 100
# 이숭무님의 1111계좌에는 100원이 있습니다.
# print(name +"님의 " + account +"계좌에는 " + money +"원이 있습니다.")
print('%s님의 %s계좌에는 %d원입니다.' % (name,account,money))
### %s, %d를 포맷문자
print('%s님의 %s계좌에는 %d원입니다.' % ('이숭무','1111',100))
money = '100'
print('%s님의 %s계좌에는 %s원입니다.' % (name,account,money))
money = 100
print('%s님의 %s계좌에는 %s원입니다.' % (name,account,money))

이숭무님의 1111계좌에는 100원입니다.
이숭무님의 1111계좌에는 100원입니다.
이숭무님의 1111계좌에는 100원입니다.
이숭무님의 1111계좌에는 100원입니다.

In [33]:
# 나의 나이는 25살이고 키는 170.5입니다.
print("나의 나이는 %d살이고 키는 %f입니다." % (25, 170.5))
#99.999 , 99.999999
print("나의 나이는 %d살이고 키는 %5.1f입니다." % (25, 170.5))
print("나의 나이는 %d살이고 키는 %5f입니다." % (25, 170.5))

나의 나이는 25살이고 키는 170.500000입니다.
나의 나이는 25살이고 키는 170.5입니다.
나의 나이는 25살이고 키는 170.500000입니다.

In [35]:
# 나의 나이는 25살입니다.
print("나의 나이는 %d살입니다." % 25)

나의 나이는 25살입니다.

In [38]:
print("나의 나이는 %d살이고 키는 %3.1f입니다." % (25, 170.5))
print("나의 나이는 %d살이고 키는 %.1f입니다." % (25, 170.5))

나의 나이는 25살이고 키는 170.5입니다.
나의 나이는 25살이고 키는 170.5입니다.

In [39]:
print("나의 나이는 %d살이고 키는 %5.1f입니다." % (25, 170.5))
print("나의 나이는 %d살이고 키는 %3.1f입니다." % (25, 170.5))
print("나의 나이는 %d살이고 키는 %.1f입니다." % (25, 170.5))

나의 나이는 25살이고 키는 170.5입니다.
나의 나이는 25살이고 키는 170.5입니다.

In [41]:
print("나의 나이는 %d살이고 키는 %10.1f입니다." % (25, 170.5))
print("나의 나이는 %d살이고 키는 %-10.1f입니다." % (25, 170.5))

나의 나이는 25살이고 키는      170.5입니다.
나의 나이는 25살이고 키는 170.5     입니다.

In [50]:
# format 함수를 사용한 포매팅
# a, a(), 'a'
# 입력값을 주고 결과를 받아 올수 있게 만든 명령문을 함수
print("I eat {0} apples".format(5) )
print("I eat {0} apples".format("five") )
print("I eat {0} apples".format(17.5) )
print("I eat (0) apples".format(17.5) )
height = 170.5
print("I eat {0} apples".format(height) )

I eat 5 apples
I eat five apples
I eat 17.5 apples
I eat (0) apples
I eat 170.5 apples

In [53]:
print("Ieat {0} apples 이다 ".format(height)  )

I 14 eat 170.5 apples 이다

In [58]:
#나는 이숭무이고 나이는 35살이며 사과를 5개 먹었습니다."
print("나는 %s이고 나이는 %d살이며사과를 {0}개 먹었습니다.".format(5) 
      % ('이숭무',35))

나는 이숭무이고 나이는 35살이며사과를 5개 먹었습니다.

In [63]:
print("나는 {0}이고 나이는 {1}살이다.".format("이숭무", 35))
print("나이는 {1}살이고 이름은 {0}입니다.".format("이숭무", 35))
print("나이는 {1}살이고 이름은 {0}입니다. 그리고 블로그명이 {0}입니다."
      .format("이숭무", 35))

나는 이숭무이고 나이는 35살이다.
나이는 35살이고 이름은 이숭무입니다.
나이는 35살이고 이름은 이숭무입니다. 그리고 블로그명이 이숭무입니다.

In [72]:
### 인덱스와 이름을 혼용해서 넣기
print("나이는 {0}살이고 이름은 {name}입니다.".format(35, name='이숭무'))
print("나이는 {0}살이고 이름은 {name}이고 블로그인 {name}입니다."
      .format(35, name='이숭무'))

n1 =  '이숭무'
age1 = 35
print("나이는 {0}살이고 이름은 {name}이고 블로그인 {name}입니다."
      .format( age1, name = n1 ))


### index를 사용하는 경우에는 0부터 써야한다.
# print("나이는 {1}살이고 이름은 {name}이고 블로그인 {name}입니다."
#      .format(name = n , age  ))

나이는 35살이고 이름은 이숭무입니다.
나이는 35살이고 이름은 이숭무이고 블로그인 이숭무입니다.
나이는 35살이고 이름은 이숭무이고 블로그인 이숭무입니다.

In [80]:
#### f 문자열 포매팅
age = 30
print(f'나는 내년이면 {age+1}살이 된다.')
name = "이숭무"
print(f'나의 이름은 {name}이고 나이는 {age}살입니다.')

d = {'name':'홍길동', 'age':30} # 딕셔너리
print(d['name'])
print(d['age'])
print(f'나의 이름은 {d["name"]}이고 나이는 {d["age"]}살입니다.')

나는 내년이면 31살이 된다.
나의 이름은 이숭무이고 나이는 30살입니다.
홍길동
30
나의 이름은 홍길동이고 나이는 30살입니다.

In [96]:
#### "", ','''''',"""""", + , * , indexing, slcing, 
###  포맷문자, 포맷함수 , f 문자열 포매팅
### 문자열데이터 쉽게 가공하기 위해서 문자열 함수
a = "hobby"
print(len(a))
# 문자의 갯수
print(a.count('b'))
a = "Python is the best choice"
###\원하는 문자열의 위치 #rint(a.indexOf('o'))
print(a.index('b'))
print(a.find('b'))
print(a.find('k')) # 해당문자나 문자열이 없는 경우에는 -1을 출력
#print(a.index('k')) # 없는 문자나 문자열을 찾는다고 할 수 없다.
### 원하는 문자나 문자열이 있는지 없는지 비교할 때 
if a.find('k') == -1:
    print("해당문자는 없습니다.")
    
else:
    print("사용가능한 문자입니다.")
print(a.find('t', 4))
print(a.index('t', 4))
print(a.rfind('t'))
print(a.rindex('t'))

a = "hi"
print(a.upper())
a = 'HI'
print(a.lower())

5
2
14
14
-1
해당문자는 없습니다.
10
10
17
17
HI
hi

In [107]:
a  = ' abcd '  # 양옆에 있는 공백문자만 삭제
print(a)
print(a.strip())
print(a.lstrip())
print(a.rstrip())
a  = ' ab cd '
print(a.strip())
a = 'abacda'
print(a.strip('a'))

"Life is too short".replace("Life", "Your leg")

##### 별표 다섯개....
a = "Life is too short"
b = a.split() 
print(b) ## 배열이 없다.
a = "Life:is:too:short"
b = a.split(":")  #### 리스트로 저장
print(b)

 abcd
abcd
abcd
 abcd
ab cd
bacd
['Life', 'is', 'too', 'short']
['Life', 'is', 'too', 'short']

In [118]:
### 자료형
### 숫자 : 정수 : 1,2,3 : 실수 : 10.5
###              '1', 1
### 문자열 : '',"",'''''',"""""" ,  'a'
### 리스트 : 여러개의 자료형을 하나로 관리할 수 있는 자료형
###         []

odd = [1, 3, 5, 7, 9] 
a = [] # 빈리스트
b = [1, 2, 3] # 정수형 리스트
c = ['Life', 'is', 'too', 'short'] # 문자열 리스트
d = [1, 2, 'Life', 'is'] # 혼합 리스트
e = [1, 2, ['Life', 'is']] # 리스트안 리스트가 있는 리스트
e = [1, 2, ('Life', 'is'), ['Life', 'is'],{'a':1}]

a = "Python's favorite food is perl"
#    0123456789012345
# -                             321
print(a)
print(a[12])
b = [1, 2, 3] #### 각 요소마다 index를 가지고 있다.
#    0  1  2
#  - 3  2  1
print(b)
print(b[1])
print("=" * 30)
print(b[0])
print(b[2])
print(b[0]+b[2])
print(b[-1])

Python's favorite food is perl
o
[1, 2, 3]
2
==============================
1
3
4
3

In [123]:
a = [1, 2, 3, ['a', 'b', 'c']]
#    0  1  2         3
#               0    1    2
b = a[3]
print(b)
print(b[1])
print(a[3][1])

['a', 'b', 'c']
b
b

In [124]:
a = [1, 2, 3, ['a', 'b', 'c']]
#  -  4  3  2        1
#  -             3   2    1 
print(a[-1][-1])
print(a[-1][1])

c
b

In [125]:
a = [1, 2, ['a', 'b', ['Life', 'is']]]
#    0  1              2
#            0    1         2
#                         0     1
print(a[2][2][0])

Life

In [129]:
### 리스트의 슬라이싱
a = [1, 2, 3]
print(a[0:2])
print(a[:2])
print(a[1:])
print(a[1:3])

[1, 2]
[1, 2]
[2, 3]
[2, 3]

In [137]:
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
b = a[2:2+3]
print(b)
c = b[1]
print(c)
print(c[1])
print(a[2:2+3][1][1])

[3, ['a', 'b', 'c'], 4]
['a', 'b', 'c']
b
b