In [11]:
# 리터널 : 자연어 : 문자, 숫자 
# 숫자 : 정수 , 실수 , 10, 10.5 , '10'(x)
# 연산자 : + - * / % // **
# 문자 : 'abc' ,"abc", '''abc''' , """abc""" , '10'
# a(x) == 변수 
# 문자열에서  indexing
a = 'Life is too short, You need python'
print(a[0])
print(a[-1])
# 문자열에서  slicing
a = 'LifeistooshortYouneedpython'
print(a[0 : 5])
print(a[:])
print(a[0:10:2])
print(a[::-1])
# 연산자 : + , *
# 문자함수 
a.count('o')
a.find('t')
a.find('too')
a.find('s',7)
a.find('k')  # 없는 문자인 경우 : -1
a.rfind('s') #뒤에서 부터 
a.index('s') 
a.index('s',7) 
a.rindex('s') 
# a.index('k')  #없는 문자인 경우 : 오류가 발생
':'.join(a)  #문자열 삽입
a.upper() 
a.lower() 
a.strip() # 양쪽 공백을 제거 할때 사용
a.lstrip()
a.rstrip()
a.rstrip("ab") ### abcdefab 
a.replace("Life", "Yore leg")
a.isdigit() # 행당 문자열이 모두 숫자인지 "12345678" : true/false
a.isalpha() # 공백문자는 영문자로 인식하지 않는다.
a.islower()
a.isupper()

L
n
Lifei
LifeistooshortYouneedpython
Lfito
nohtypdeenuoYtrohsootsiefiL

True

In [ ]:
# 문자열 출력하기.
number = 10
day = "three"
a = f"나는 {number}개의 사과를 먹어서 {day}일 동안 아팠습니다."
a = "나는 {number}개의 사과를 먹어서 {day}일 동안 아팠습니다.".format(number=10, day=3)
a = "나는 {1}개의 사과를 먹어서 {0}일 동안 아팠습니다.".format(5, 3)
a = "나의 나이는 %d살이고 키는 %3.1f 입니다." % (35, 175.5)

In [14]:
# 리스트 : 여러 유형의 데이터를 여러 개 저장할 수 있는 자료형 [1]
a  = [] # []를 사용하면 리스트가 된다. 빈리스트
b = [1, 2, 3] # 정수형 리스트
c = ['Life', 'is', 'too', 'short'] # 문자열 리스트
d = [1,2,3,'Life', 'is', 'too', 'short'] # 정수와 문자열 혼합 리스트
e = [1,2,3,[4,5,'Life']] # 리스트에 리스트를 포함
a = 1
a = "1"
a = [1]
a = [1, 2, 3]
print(a[0])
print(a[0] + a[2])
print(a[0:2])
### 연산자 :  + , *
a = [1, 2, 3]
b = [4, 5, 6]
print(a + b)
print(a * 3)
s = "Life is too short"
print(len(s))
print(len(a))

1
4
[1, 2]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
17
3

In [31]:
s = "Life is too short"
a = [1, 2, 3, 4, 5]
print(s[0])
#s[1] = 'y'
print(a)
print(a[2])
a[2] = 10 # 리스트는 indexing을 이용해서 값을 변경할 수 있다.
print(a)
### 리스트에 있는 10를 삭제 
del a[2]   # indexing을 이용해서 삭제
print(a)

a = [1, 2, 3, 4, 5]
print(a)
print(a[2:])
del a[2:]  #slicing을 이용
print(a)
### [1,2] ===> [1,2,4]
a.append(4)
print(a)
a.append(6)
print(a)

c = []
c.append(1)
c.append(2)
c.append(3)
c.append(4)
c.append(5)
print(c)

L
[1, 2, 3, 4, 5]
3
[1, 2, 10, 4, 5]
[1, 2, 4, 5]
[1, 2, 3, 4, 5]
[3, 4, 5]
[1, 2]
[1, 2, 4]
[1, 2, 4, 6]
[1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [36]:
a = [1, 4, 3, 2]
# 1,2,3,4순으로 정렬
a.sort() # [1, 4, 3, 2] ==> [1, 2, 3, 4] # 오름차순
print(a)
a.reverse()
print(a)
a = [1, 4, 3, 2]
print(a)
a.reverse() # 역순으로 저장  : 내림차순 아님
print(a)

[1, 2, 3, 4]
[4, 3, 2, 1]
[1, 4, 3, 2]
[2, 3, 4, 1]

In [44]:
s = "Life is too short"
print(s.index('f'))
print(s.find('f')) # 문자열에만 있는 함수
a = [1,2,3]
print(a.index(3))
#print(a.index(0)) #  index함수는 리스트에서도 없는 값에 대해서는 오류가 발생
#print(s.find(3))

2
2
2

TypeError: must be str, not int

In [49]:
a = [1,2,3]
print(a)   # [1,2,3,4]
a.append(4)
print(a)
a.insert(1, 5)
print(a)
a.insert(3, 6)
print(a)
a.insert(3,[1,2,3,4])
print(a)

[1, 2, 3]
[1, 2, 3, 4]
[1, 5, 2, 3, 4]
[1, 5, 2, 6, 3, 4]
[1, 5, 2, [1, 2, 3, 4], 6, 3, 4]

In [59]:
a = [1, 4, 2, 5, 4, 3]
print(a)
del a[1] # indexing을 이용해서 데이터를 삭제
print(a)
a.insert(1,4)
print(a)
a.remove(4) #  리터널을 이용해서 리터널에 해당되는 값을 삭제
print(a) # 처음에 있는 값부터 삭제
s = ['a','b','c']
del s[1]
print(s)
r = s.remove('c') 
print(r)
print(s)
a = [1, 4, 2, 5, 4, 3]
cnt = a.count(4)
print(cnt)

[1, 4, 2, 5, 4, 3]
[1, 2, 5, 4, 3]
[1, 4, 2, 5, 4, 3]
[1, 2, 5, 4, 3]
['a', 'c']
None
['a']
2

In [71]:
a = [1, 4, 2, 5, 4, 3]
print(a)
r = a.pop() # pop은 데이터를 가지나옴, 마지막 값부터 가지고 나옴
print(r)
print(a)
r = a.pop()
print(r)
print(a)
r = a.pop()
print(r)
print(a)
r = a.pop()
print(r)
print(a)
r = a.pop()
print(r)
print(a)
a = [1, 4, 2, 5, 4, 3]
r = a.pop(5) # index를 사용해서 데이터 삭제
print(r)
r = a.pop(3)
print(a)

[1, 4, 2, 5, 4, 3]
3
[1, 4, 2, 5, 4]
4
[1, 4, 2, 5]
5
[1, 4, 2]
2
[1, 4]
4
[1]

In [69]:
a = [1, 4, 2, 5, 4, 3]
a.sort(reverse=True) # 내림차순
print(a)

[5, 4, 4, 3, 2, 1]
True

In [75]:
a = [1,2,3] # [1,2,3,4,5]
a.append([4,5])
print(a)
a = [1,2,3]
a.append(4)
a.append(5)
print(a)
a = [1,2,3]
a.extend([4,5])
print(a)
a = [1,2,3]
a += [4,5]
print(a)

[1, 2, 3, [4, 5]]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [76]:
print (1 +1)
print("1" + "1")
print([1] + [1])

2
11
[1, 1]

In [80]:
# 튜플 ()
#[]
print(1)
print("1")
print([1])

print((1,))
print((1)) # 튜플 X , 최우선 연산
print(("1")) # 튜플 X , 최우선 연산

1
1
[1]
(1,)
1
1

In [85]:
l = [] # 빈 리스트
t1  = () #  빈 튜플
l1 = [1] #요소가 하나인 리스트
t2 = (1,) # 요소가 하나인 튜플 
t1 = (1) # 최우선 연산자로 1값을 갖는다
s = '1'
print(t1 + 1) # 정수와 정수의 합이므로 2
'''
print(s + 1) # 문자열과 정수의 합이므로 오류
print(t2 + 1) # 튜플과 정수의 합이므로 오유
'''

2

'\nprint(s + 1) # 문자열과 정수의 합이므로 오류\nprint(t2 + 1) # 튜플과 정수의 합이므로 오유\n'

In [96]:
t3 = (1,2)
print(t3)
t5 = (1,2,3,'a', 'b')
t6 = ('a', 'b', ('ab', 'cd'))
t6 = ('a', 'b', ('ab', 'cd'),[1,2,3])
print(t6)
t7 = 1,2,3,4,5,6
print(t7)
print(t6[1])
print(t6[2])
print(t6[3])
print(t6[3][1])
print(t6.index('b'))
print(len(t6))

(1, 2)
('a', 'b', ('ab', 'cd'), [1, 2, 3])
(1, 2, 3, 4, 5, 6)
b
('ab', 'cd')
[1, 2, 3]
2
1
4
[1, 10, 3, 4]

In [99]:
#### 튜플과 리스트의 차이점은 튜플은 데이터의 수정을 할 수 없다.
l = [1,2,3,4]
l[1] = 10
print(l)
t = (1,2,3,4) # 상수
# t[1] = 10
# del t[1]

[1, 10, 3, 4]

TypeError: 'tuple' object doesn't support item deletion

In [103]:
t6 = ('a', 'b', ('ab', 'cd'),[1,2,3])
# 슬라이싱하기
print(t6[1:])
print(t6[1:3])
print(t6[3][1:3])

('b', ('ab', 'cd'), [1, 2, 3])
('b', ('ab', 'cd'))
[2, 3]

In [ ]:
### 숫자 : 정수 , 실수
### 문자 : '', "", '''''' ,""""""
### 리스트 : []
### 튜플 : () , (1,)

In [111]:
### 딕셔너리  # map<키,값>
# {Key1:Value1, Key2:Value2, Key3:Value3, ...}
# JSON
### 키와 값으로 이루어졌다.
dic = {'name':'pey', 'phone':'0119993323', 'birth': '1118'}
#  index를 사용하지 않는다. 값을 가지고 올 때는 키를 이용한다.
print(dic['name'])
print(dic['phone'])
d1 = {2:"이", 0:"숭" ,1 :"무"}
print(d1[0]) # 키를 이용해서 값을 가져온다.
a = {1: 'a',2:'b'}
## 딕셔너리에 있는 값 변경하기
a[1] = '이'
print(a)
a[3] = "무"
print(a)
# 딕셔너리에서는 키가 있으면 수정 키가 없으면 추가가 된다.
a  = {1:'이', 1:"숭"}
print(a) 
# 딕셔너리는 중복 키를 허용하지 않으므로 키가 중복이 되면 마지막값을 갖는다.

pey
0119993323
숭
{1: '이', 2: 'b'}
{1: '이', 2: 'b', 3: '무'}
{1: '숭'}

In [116]:
a = {1: 'a'}
a[2] = "b";
print(a)
a["name"] = "pey"
print(a)
a[3] = [1,2,3]
print(a)
print(a[3])
#키가 2인 요소를 삭제
del a[2]
print(a)

{1: 'a', 2: 'b'}
{1: 'a', 2: 'b', 'name': 'pey'}
{1: 'a', 2: 'b', 'name': 'pey', 3: [1, 2, 3]}
[1, 2, 3]
{1: 'a', 'name': 'pey', 3: [1, 2, 3]}

In [127]:
dic = {'name':'pey', 'phone':'0119993323', 'birth': '1118'}
dic['birth'] = '19991118'
print(dic)
# birth에서 년도만 출력하시오.
print(dic['birth'][0:4])

a  = dic['birth']
print(a)
print(a[0:4])
#'phone'에서 뒤에 4자리를 가져오시오
print(dic['phone'][-4:])

{'name': 'pey', 'phone': '0119993323', 'birth': '19991118'}
1999
19991118
1999
3323

In [135]:
dic = {'name':'pey', 'phone':'0119993323', 'birth': '19991118'}
#  딕셔너리에서 키만 가져오기
print(dic.keys())
print(dic.values())
print(dic.items())
dic.clear()
print(dic)

dict_keys(['name', 'phone', 'birth'])
dict_values(['pey', '0119993323', '19991118'])
dict_items([('name', 'pey'), ('phone', '0119993323'), ('birth', '19991118')])
{}

In [146]:
dic = {'name':'pey', 'phone':'0119993323', 'birth': '19991118'}
print(dic['name'])
print(dic.get('name'))

if dic['name'] != None:  # 'name'이라는 키에 있는 값이 None이 아닌지 확인?
    print('키가 있습니다.')
else:
    print('키가 없습니다.')
'''
if dic['money'] != None:  
    print('키가 있습니다.')
else:
    print('키가 없습니다.')
'''
# print(dic['money'])
if dic.get('money') != None:  # 키가 있는지 없는지 확인 하고 싶을때
    print('키가 있습니다.')
else:
    print('키가 없습니다.')
    
dic = {'name':'pey', 'phone':'', 'birth': None}
print(dic['phone'])
print(dic['birth'])

print(dic.get('name'))
print(dic['name'])
print(dic.get('money'))

pey
pey
키가 있습니다.
키가 없습니다.

None
pey

In [155]:
dic = {'name':'pey', 'phone':'0119993323', 'birth': '19991118'}
dic1  = {'classic' : 500 ,  "pop" : 600 }
dic2  = {'classic' : 500 ,  "pop" : 600 ,"money":100 }
print(dic1.get('classic',0) + dic2.get('classic',0))
print(dic1.get('pop',0) + dic2.get('pop',0))
print(dic1.get('money',0) + dic2.get('money',0))
print(dic1.get('money', 1000))

1000
1200
100
1000

In [ ]:
#### 숫자 : 11,12
#### 문자 : '1',"1",'''1''',"""1"""
#### 리스트 : []
### 튜플 : () , (1,) # (1) : 최우선 연산자
### 딕셔너리 : {키:값}
### set : 집합자료형
### bool : 참/거짓
### 제어문\

In [181]:
# 집합 자료형
# 교집합, 합집합 
s1 = set([1,2,3]) 
print(s1)  # {1, 2, 3}
s2 = set("hello")  # {'h', 'l', 'o', 'e'} # 집합자료은 값의 중복을 허용하지 않음
print(s2)          #{'l, 'e', 'o', 'h'}
s3= set((1,2,3))
print(s3)
# s4 = set(1,2,3) # TypeError: set expected at most 1 argument, got 3
# print(s4)
# indexing
# print(s3[0]) # 집합자료현 자체로는 indexing을 할 수 없다.
l= list(s3) # 집합자료형을 리스트로 형변환
print(l[0])
t = tuple(s3)
print(t[0])

{1, 2, 3}
{'h', 'l', 'o', 'e'}
{1, 2, 3}
1
1
[1, 2, 10, 4]
[1, 2, 10, 4]
[1, 100, 10, 4]
[1, 100, 10, 4]
1939558876528
1939558876528
1939553518784
1939558763904
140716811624192

In [186]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])
#### 집합자료형 : 교집합, 합집합

### 합집합
print(s1 | s2)  # 집합인 경우 중복데이터는 허용하지 않아 한번만 출력
print(s1.union(s2) )

### 교집합
print(s1 & s2)
print(s1.intersection(s2))

### 차집합
print(s1 - s2)
print(s1.difference(s2))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{4, 5, 6}
{1, 2, 3}
{1, 2, 3}

In [191]:
s1 = set([1,2,3,4,5,6])
s1.add(7)
print(s1)
'''
s1.add([7,8,9])
print(s1)
'''
s1.update([7,8,9])
print(s1)
s1.remove(8)
print(s1)

s3 = {1, 2, 3, 4, 5, 6, 7, 8, 9}
print(s3)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [202]:
# 부울 타입 / True | False
a = True
print(a)
b = False
print(b)
i = 10
print(type(i))
s  = "이숭무"
print(type(s))
l = [1,2,3,4,5]
print(type(l))
t = (1,2,3,4,5)
print(type(t))
d  = {1:'a'}
print(type(d))
se = {1, 2, 3, 4, 5}
print(se)
print(type(se))
b = True
print(type(b))

True
False
<class 'int'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
{1, 2, 3, 4, 5}
<class 'set'>
<class 'bool'>

In [232]:
### 결과가 bool인 경우는 비교연산, 논리연산
### bool타입 결과를 사용하는 것은 제어문
print(1 == 1 )
print(2 > 1)
print(1 > 2)
print( True & True)  ### 논리 연산
a = 10
b = 20
c = 30
print( a < b and c > a )
print( a < b or c > a )

True
True
False
True
True
True

In [ ]:
print(bool("이숭무"))
print(bool(""))   ###### False
print(bool([1,2,3,4]))
print(bool([]))   ###### False
print(bool((1,2,3,4)))
print(bool(()))   ###### False
print(bool(0))    ###### False
print(bool(-1))
print(bool(1))
print(bool(None))  ###### False

In [221]:
### 파이썬 변수 선언법
a = 'python'
b = 'life'
a = b = c= 0
a , b = ('python', 'life')
print(a)
print(b)
a , b = ([1,2,3,4], [4,5,6,7])  
print(a)
print(b)
(a, b) = 'python', 'life'
[a, b] = 'python', 'life'
print(a)
print(b)
a, b = 'python', 'life'
(a,b,c) = (1,2,3)

python
life
[1, 2, 3, 4]
[4, 5, 6, 7]
python
life

In [222]:
a = 3 
b = 5
c = 0
#### a 값을 b에저장  b 값을 a
'''
= a
a  = b
b = c
'''
a , b = b , a
print(a)
print(b)

5
3

In [223]:
#제어문
# 조건문 : 여러가지 선택중에서 하나를 선택할 수 있게 하는 것
# 조건문을 사용할 때에는 실행 명령문은 들여쓰기가 되어 있어야 한다.
money = 3000
# 돈이 3000원이상이면 차를 타고 가자./
## 단일 if 문
if money >= 3000 : ### true
    print("a차를 타고 가시오")

money = 2000
if money >= 3000 : ### False
    print("b차를 타고 가시오")

a차를 타고 가시오

In [224]:
### if ~ else  : 두개중에 하나를 선택하고자 할 때 사용
if money >= 3000 :  ### True
    print("차를 타고 가시오")
else: ### False
    print("걸어 가시오")

걸어 가시오

In [ ]:
if money < 3000: #### True :비교 연산과 논리연산이용해서 조건을 만들어 줌
    print("걸어가시오")
else: ### False
    print("차를 타고 가시오")

In [238]:
#### 4년마다 윤년이지만 100년마다는 윤년이 아니고  400년마다 윤년 
year = 100
print(year % 4 == 0 and year % 100 != 0  or year % 400 ==0)

False

In [239]:
w = False
x = True
y = True
z = False
###  and 
print( x and y )
print( w and x )
print( x and w )
print( z and w )

### or 
print(x or y) ## True
print(x or z) ## True
print(z or y) ### True
print(z or w) ### False
print(x or z or w)

True
False
False
False
True
True
True
False
True

In [242]:
x = 10 ; y = 20 #### 비교연산자 == 관계연산자의 결과값은 부울타입이다.
print( x == y ) 
print( x > y )
print( x < y )
print( x >= y )
print( x <= y )
print( x != y )
if x < y :
    print("y가 큽니다")
else:
    print("y가 작다")
    
year = 2400
if year % 4 == 0 and year % 100 != 0 or year % 400 == 0:
    print("윤년")
else:
    print("평년")

False
False
True
False
True
True

In [249]:
if 1:
    print("True")
    
if 0:
    print("True")
else:
    print("False")
    
if "abcd":
    print("True")
    
if "":
    print("True")
else:
    print("Fasle")

if not 0:  ## not False : True , not True : False
    print("True")

True
False
True
Fasle
True

In [262]:
l = [1,2,3,4,5,6]
print(4 in l)
print( 7 in l )
if 4 in l: #
    print("4를 포함하고 있습니다");

if 7 in l:
    print("7이 포함되어 있습니다.")
else:
    print("7이 포함되어 있지 않습니다.")

print(4 in [1,2,3,4,5,6])
print(4 in (1,2,3,4,5,6))
print(4 in {1,2,3,4,5,6})

print(7 not in {1,2,3,4,5,6})
print(4 not in {1,2,3,4,5,6})
print('a' in {'a': 4 })
print('j' not in 'python')
print('j' in 'python')

pocket = ['paper', 'cellphone', 'money']
print('money' in pocket)
if 'money' in pocket:
    print("주머니에 돈이 있습니다.")
    
if 'j' in 'python':
    print("j를 포함한다")
else:
    print("j를 포함하고 있지 않다.")

True
False
4를 포함하고 있습니다
7이 포함되어 있지 않습니다.
True
True
True
True
False
True
True
False
True
주머니에 돈이 있습니다.
False

In [265]:
# 제어문에서 사용 가능한 연산자
# 비교연산자(관계연산자) / 논리연산자  : True/False(and , or) / not / in
# False : 0, "", [], {}, (), None

# True : 1, 2, 3 / "a" / [1,2] / (1,2) / {1:2}
print(bool({}))
print(type({}))
print(type({1,2,3,4,5}))

False
<class 'dict'>
<class 'set'>

In [266]:
### if , if ~ else , if ~ elif ~ ... ~ else
### score가 90이상이면 A, 80이상이면 B, 70이상이면 C, 60이상이면 D, 
### 그렇지 않으면 F
score = 87 # 다중 if문
if score >= 90:
    print('A')
elif score >= 80:
    print('B')
elif score >= 70:
    print("C")
elif score >= 60:
    print("D")
else:
    print("F")

B